body {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding-top: 40px;
  padding-bottom: 100px;
  font-family: cursive;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  padding-top: 40px;
  color: black;
}
ol {
  list-style: none;
}
p {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
nav h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color: green;
}
header {
  text-align: center;
}

a {
  color: black;
}
.about h2 {
  font-size: 20px;
  border-top: 1px solid black;
  margin-left: 269px;
  padding-right: 300px;
  padding-top: 40px;
}
.portfolio h2 {
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline;
  border-top: 1px solid black;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 40px
}
.portfolio p {
  font-size: 15px;
  padding-left: 265px;
  padding-right: 300px;
  padding-top: 10px
}
.about p {
  margin-left: 269px;
  border-bottom: 1px solid black;
  padding-bottom: 70px;
}
h3 {
  font-size: 20px;
  text-decoration: underline;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 40px;
}
.experience h5 {
  padding-left: 260px;
  font-size: 15px;
  margin-bottom: 0px;
}
.experience p {
  padding-left: 250px;
  font-size: 15px;
  margin-top: 0px;
}
.education ol {
  padding-left: 300px;
}
.bottom-nav {
  text-align: center;
  margin-bottom: 0px;
}

.experience img {
  border: 1px solid black;
  margin-left: 250px;
}

em {
  font-weight: bold;
}
.avatar img {
width: 100px;
border: 1px solid black;
padding: 10px;
}
